In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/users/Boscoe/Desktop/fortune500.csv')

In [3]:
pwd

'/Users/boscoe'

In [5]:
df

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
0,1955,1,General Motors,9823.5,806
1,1955,2,Exxon Mobil,5661.4,584.8
2,1955,3,U.S. Steel,3250.4,195.4
3,1955,4,General Electric,2959.1,212.6
4,1955,5,Esmark,2510.8,19.1
...,...,...,...,...,...
25495,2005,496,Wm. Wrigley Jr.,3648.6,493
25496,2005,497,Peabody Energy,3631.6,175.4
25497,2005,498,Wendy's International,3630.4,57.8
25498,2005,499,Kindred Healthcare,3616.6,70.6
25499,2005,500,Cincinnati Financial,3614.0,584

In [5]:
def get_even(numbers):
     evens = [num for num in numbers if not num % 2]
     return evens
number = [1,2,3,4,5]
get_even(number)

[1, 3, 5]

In [3]:
1 % 2

1

In [14]:
 e =  2 % 2
print(bool(e))

False

In [7]:
1

1

In [8]:
type(1)

int

In [9]:
bool (1)

True